html,body {
	font-weight: 300;
	margin: 0;
	padding: 0;
	/*background-color: #1e1c1c;*/
}

.container {
	max-width: 970px;
}









.supporting {
	padding: 60px 0 50px;
}

/*
.footer {
	height: 150px;
	color: #fff;
	padding: 40px 0;
	font-size: 12px;
	margin-bottom: 40px;
}

.footer img {
	width: 30px;
}
*/


@media (max-width: 600px) {
	.header li {
		text-align: center;
		width: 100%;
	}

	.header ul {
		float: none;
	}
}