.main {
	background: url(../img/backgrounds/cover3.JPG) no-repeat center center;
	background-size: cover;
	/*background: url(footer_lodyas.png) repeat;*/
	height: 500px;
	padding-top: 200px;
	text-align: center;
	color: #fff;
}

.header {
	position: fixed;
	background-color: rgba(244, 244, 244, 0.8);
	width: 100%;
}

.header p {
	margin: 7px 0px 0px;
}

/*header dropdown*/
.header .dropdown-menu {
	right: 0px;
	left: auto;
	width: 330px;
	border-radius: 0;
	padding: 20px 20px;
	background-color: #332d2d;
	color: #fff;
}

.header .dropdown-menu h3 {
	margin-top: 5px;
}

.header .dropdown-menu input {
	border-radius: 0;
}

.header .dropdown-menu button {
	background-color: #ff2d2d;
}

.header .dropdown-menu button:hover {
	color: #fff;
}

.email-error, .password-error {
	color: #ff2d2d;
	line-height: 10px;
	font-size: 13px;
}

/*header links*/
.header ul {
	float: right;
}

/*header and footer links*/
.header li, .footer li {
	display: inline-block;
	margin: 0;
}

.header .active, .footer .active {
	background-color: #ff2d2d;
}

.header ul.nav li a:hover {
	background-color: #2998CF;
}

.footer ul.nav li a:hover {
	background-color: #48C1F8;
	color: #fff;
}

.header a, .footer a {
	color: #000;
	font-weight: 600;
	font-size: 12px;
	transition: all 0.2s ease-out;
	cursor: pointer;
	text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}

/*header and footer my name*/
.header p, .footer p {
	text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	text-align: center;
}

.footer {
	position: fixed;
	background-color: rgba(244, 244, 244, 0.8);
	width: 100%;
	height: 50px;
	bottom: 0;
	right: 0;
	padding: 15px 0;
	text-align: center;
}

/*footer links*/
.footer ul {
	margin-top: -10px;
}

.topButton {
	background-color: transparent;
	padding: 0;
	float: right;
	border-width: 0;
}

.topButton:hover {
	background-color: #48C1F8;
	color: #fff;
}

.topButton:focus, .topButton:active:focus {
	color: #fff;
	outline: none;
	box-shadow: none;
}

.supporting.portfolio {
	background: url(../img/backgrounds/geometry2.png) repeat;
}

.supporting.about {
	background-color: rgb(244, 244, 244);
	height: 360px;
	padding: 60px 0;
}

.supporting.about h3 {
	margin: 10px 0;
}
.supporting.about p {
	font-size: 12px;
}

.supporting.about img {
	height: 200px;
	vertical-align: middle;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

@media (max-width: 600px) {
	.supporting.about {
		height: auto;
	}
}