.main {
	background: url(../img/cover3.JPG) no-repeat center center;
	background-size: cover;
	/*background: url(footer_lodyas.png) repeat;*/
	height: 500px;
	padding-top: 70px;
	text-align: center;
	color: #fff;
}

.footer {
	position: fixed;
	background-color: #ff2d2d;
	color: #fff;
	width: 100%;
	height: 50px;
	bottom: 0;
	right: 0;
	padding: 15px 0;
}

.topButton {
	background-color: transparent;
	padding: 0;
	float: right;
	border-width: 0;
	text-transform: uppercase;
}

.topButton:hover {
	color: #fff;
}

.topButton:focus, .topButton:active:focus {
	color: #fff;
	outline: none;
	box-shadow: none;
}

.supporting.about {
	background: url(../img/about_cover.JPG) no-repeat center center;
	background-size: cover;
	height: 400px;
	color: #fff;
	padding: 60px 0;
}

.supporting.about img {
	height: 200px;
	vertical-align: middle;
	margin: 40px auto;
}

@media (max-width: 600px) {
	.supporting.about {
		height: auto;
	}
}